.signUpScreen__form {
    max-width: 330px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.signUpScreen__form>form {
    display: grid;
}

.signUpScreen__form>form>h1 {
    text-align: left;
    margin-bottom: 25px;
}

.signUpScreen__form>form>h4 {
    text-align: left;
    margin-top: 30px;
    font-size: 12px;
}

.signUpScreen_link {
    color: #fff;
    text-decoration: none;
}

.signUpScreen__grayBtn {
    color: #808080;
}

.signUpScreen_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.signUpScreen__form>form>input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.signUpScreen__form>form>button {
    padding: 16px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    margin-top: 20px;
}